.group{
    margin: 10px;
}
input{
    text-align: center;
    border: solid 1px #A19CB8;
    border-radius: 20px;
    width: 250px;
    height: 50px;
    background-color: #272042;
    color: white;
    box-shadow: white;
}
select{

    text-align: center;
    border: solid 1px #A19CB8;
    border-radius: 20px;
    background: linear-gradient(143.05deg, #F83D6A -47.32%, #937DEF 98.56%);
    color: white;
    box-shadow: white;
    margin: 10px;
    height: 50px;
    width: 60px;

}
option{

   background: #1A152E;
    color: white;
}