.header-location{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.logo{
    display: flex;
    padding-right: 10%;
}
a{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height */


    color: #000000;
}
a:hover{
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;
    /* identical to box height */


    color: #B40000;
}