.footer-location{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 30px;
}
.logo{
    display: flex;
    padding-right: 10%;
}
p{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}